*{
	box-sizing:border-box;margin:0; outline:none;padding:0;display:flex;align-items:center;justify-content:center;
}
body{width:100vw;height:100vh;border:none;}
#app{
	width:51vw;padding:2.1vw;border:solid 1px black;font-weight:bold;
	display:flex;flex-wrap:wrap;
	background-color:gray;border-radius:3vw;
}
button{
	width:12vw;height:12vw;margin:1vw;cursor:pointer;border:solid 1px black;font-weight:bold;
	opacity:0.51;border-radius:12px;font-size:3vw;
}
button:hover,button:focus{opacity:1;border:none;}
